
.atoz-list {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
}

.atoz-list-breed {
    display: flex;
    align-items: stretch;
}

@media screen and (min-width: 670px) {
    .atoz-list-breed {
        width: 22%;
    }
}

.atoz-list-breed > div {
    flex-grow: 1;
}

.search-bar{
    padding: 0.3rem 2rem;
    font-weight: 700;
    text-decoration: none;
    border: 0.3rem solid #000;
    border-radius: 3rem;
    margin: 5px 0;
}