.detail-breed {
  max-width: 600px;
  margin: 0 auto;
}

.dog-image-container{
  margin-bottom: 20px;
}

.dog-image-detail {
  display: flex;
  margin: auto;
  width: 90%;
  border-radius: 5px;
  box-shadow: #8c8c8c -1px 60px 30px -12px;
}

.ratings-list {
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: Belanosima;
}

.detail-breed-name {
  padding-top: 0.5rem;
}

.detail-description {
  text-align: justify;
}

.dog-breed-container{
  margin: 20px auto;
  box-shadow: #8c8c8c -1px 15px 30px -12px;
  border-radius: 5px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .dog-breed-container {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .detail-breed {
    width: 345px;
  }
}