.footer {
  align-self: center;
  align-content: center;
  display: flex;
  min-height: 20vh;
  padding-top: 10px;
  margin-top: 10vh;
  flex-direction: column;
  background-color: black;
  border-top: 2px solid white;
  color: white;
  padding: 20px;
  font-family: Belanosima;
}

.main-container {
  flex: 1;
}

.footer-container {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
}

@media screen and (min-width: 768px) {
  .footer {
    min-height: 30vh;
  }
}
