.footer {
  align-self: center;
  align-content: center;
  display: flex;
  min-height: 20vh;
  padding-top: 10px;
  margin-top: auto;
  flex-direction: column;
  background-color: black;
  border-top: 2px solid white;
  color: white;
  padding: 20px;
}

.main-container {
  flex: 1;
}

.footer-container {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
}
