* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #19191a;
  height: 20vh;
  display: flex;
  font-size: 1.2rem;
  position: relative;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-logo {
  color: #fff;
  justify-content: flex-start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.navbar-icon {
  display: flex;
  padding-left: 10px;
  margin-top: 0;
}

.nav-menu {
  display: flex;
  list-style: none;
  font-family: Belanosima;
}

.nav-item {
  height: 40%;
  border-bottom: 2px solid transparent;
  align-items: end;
}

.nav-item:hover {
  border-bottom: 2px solid #ff8400;
}

.nav-links {
  color: #fff;
  display: flex;
  text-decoration: none;
  margin-top: 20px;
  padding: 0.5rem 0.5rem;
  height: 100%;
}


.activated {
  color: #ff8400;
}

.fa-bars {
  color: #ff8400;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 670px) {
  .NavbarItems {
    position: relative;
  }

  .navbar {
    height: 25vh;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    padding: 0;
    height: 100vh;
  }

  .nav-menu.active {
    background: #19191a;
    margin-top: -20%;
    visibility: visible;
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-links:hover {
    color: #ff8400;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, 15%);
    display: flex;
    align-items: center;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 90%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 2;
  }
}
