.add-profile-button,
.delete-button,
.edit-button {
  background-color: #fff;
  padding: 0.7rem 2rem;
  font-weight: 700;
  text-decoration: none;
  border: 0.3rem solid #000;
  border-radius: 3rem;
  margin: 20px 0;
}

.add-profile-button:hover,
.edit-button:hover {
  background-color: #000;
  color: #fff;
}

.delete-button:hover {
  border-color: red;
  background-color: red;
  color: #fff;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 80%;
  margin: 0 10%;
}

.paw-profile-card-container {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

.paw-profile-card {
  margin: 20px auto;
  box-shadow: #8c8c8c -1px 15px 30px -12px;
  border-radius: 5px;
  width: 90%;
}
.paw-profile-card-hover {
  box-shadow: inset 0 0 0 0 #ff8400;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 10px;
  border-radius: 5px;
}

.paw-profile-card-hover:hover {
  box-shadow: inset 100vw 0 0 0 #ff8400;
  border-radius: 5px;
  color: #fff;
}

.paw-profile-img {
  display: flex;
  margin: auto;
  width: 90%;
  border-radius: 5px;
  box-shadow: #8c8c8c -1px 15px 30px -12px;
}

.profile-detail-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .paw-profile-card-container {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .paw-profile-card {
    width: 345px;
  }

  .buttons-container {
    margin: 0 30%;
  }
}

@media screen and (min-width: 1024px) {
  .buttons-container {
    margin: 0 35%;
  }
}

@media screen and (min-width: 1750px) {
  .buttons-container {
    margin: 0 40%;
  }
}
