.input {
  background-color: #fff;
  padding: 0.3rem 2rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 3rem;
  margin: 5px 0;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.save-button,
.submit-button {
  background-color: #fff;
  padding: 0.3rem 2rem;
  font-weight: 700;
  border: 0.3rem solid #000;
  text-decoration: none;
  border-radius: 3rem;
  margin: 5px 0;
}

.save-button:hover,
.submit-button:hover {
  background-color: #000;
  color: #fff;
}
