.resources {
  max-width: 80vw;
  margin: 15px auto;
}

.logos {
  height: 100px;
}

.logos-larger {
  height: 150px;
  animation: rotation 2s infinite linear;
}

.logo-sspca {
  height: 50px;
}

.resources-information {
  text-align: justify;
  padding: 2rem auto;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  
  .resources {
    width: 620px;
  }
}
