.survey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  width: 300px;
  margin-top: 20px;
}

.slider-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.slider {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
}
