datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

option {
  padding: 0;
}

.options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #ff8400;
  width: 90vw;
  margin: 0;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: inset 6px 6px 6px #a65600, inset -6px -6px 6px #ff8400;
}

input[type="range"]:focus {
  outline: none;
 }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: url('../../icons/pawprint.svg');
 }
 
 input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: url('../../icons/pawprint.svg');
 }

 .size-dropdown {
  background-color: #ff8400;
  padding: 0.3rem 2rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 3rem;
  margin: 5px 0;
  box-shadow: inset 6px 6px 6px #a65600, inset -6px -6px 6px #ff8400;
 }

.survey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 90vw;
  margin: auto;
}


.range-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submit-button {
  background-color: #fff;
  padding: 0.3rem 2rem;
  font-weight: 700;
  text-decoration: none;
  border: 0.3rem solid #000;
  border-radius: 3rem;
  margin: 5px 0;
}


@media screen and (min-width: 768px) {
  .form-container {
    width: 690px;
  }

  input[type="range"] {
    width: 690px;
  }
}